
@media (max-width: 1500px) {
    body {
        width: auto;
        padding-top: 40px;
    }

    .main-title {
        padding-bottom: 0;
    }

    .instruction-list, .category-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1280px) {
    .instruction-list, .category-list {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 1023px) {
    .instruction-list, .category-list {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 850px) {
    .instruction-list, .category-list {
        grid-template-columns: repeat(1, 1fr);
    }

    body {
        padding-top: 20px;
    }
}

@media (max-width: 560px) {
    body {
        margin: 0 auto;
        padding: 0;
    }

    .main-title {
        padding: 0;
        text-align: center;
        font-size: 30px;
        padding-bottom: 5px;
    }

    .body {
        margin-left: 0;
        border-left: none;
        padding-left: 0;
        padding: 0 10px;
        padding-top: 70px;
    }

    .header {
        display: block;
        background-color: #F2F5FF;
        width: 270px;
        height: 100%;
        margin-top: 50px;

        transform: translateX(-280px);
        box-shadow: none;
    }

    .header_active {
        transform: translateX(0px);
        box-shadow: 5px 0 10px 2px rgba(0, 0, 0, 0.288);
    }

    .header_transition {
        transition: transform 0.5s, box-shadow 0.5s;
    }

    .top-header-phone {
        height: 50px;
        background-color: #5956EB;
        position: fixed;
        width: 100%;
        box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.160);
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    .overlay_transition {
        height: 100%;
        width: 100%;
        transition: background-color 0.5s;
    }

    .overlay_active {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .user__container {
        margin-top: 20px;
    }
}

@media (max-height: 560px) {
    .header__item-link {
        padding: 5px 0;
        line-height: 20px;
    }

}